streamlit==1.17.0
torch==2.0.1
torchvision==0.15.2
Pillow==10.0.0
pandas==2.0.3
plotly==5.15.0
numpy==1.24.0
opencv-python-headless==4.8.0.76
pydicom==2.4.0
captum==0.7.0
streamlit-drawable-canvas==0.9.0
matplotlib==3.7.0
altair==4.2.2